.blog-post--container {
  background-color: $secondary-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 1rem;
  min-width: 300px;
}

.blog-post--article {
  background-color: $secondary-background-color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: center;
  padding: 1rem;
  min-width: 300px;
  max-width: 1000px;
}

.blog-post--bio {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-bottom: 2rem;
}

.blog-post--bio-spacer {
  width: 1rem;
}

.blog-post--flex-stretch {
  align-self: stretch;
}

.blog-post--flex-start {
  align-self: flex-start;
}

.blog-post--main-section {
  // display: flex;
  // flex-direction: column;
  width: 100%;
  max-width: 700px;
  color: $primary-background-color;
  font-size: 1.2em;

  h1 {
    font-size: 2rem;
    padding: 1rem 0 0.2rem 0;
  }
  h2,
  h3,
  h4 {
    font-size: 1.5rem;
    padding: 1rem 0 0.2rem 0;
  }
  h5,
  h6 {
    font-size: 1.3rem;
    padding: 1rem 0 0.2rem 0;
  }
  p {
    font-size: 1.2rem;
    padding: 0.7rem 0;
  }

  a {
    color: $secondary-text-color;
    text-decoration: none;
    &:hover {
      color: $secondary-text-color-hover;
    }
  }

  li {
    margin-left: 3rem;
    padding: 0.1rem;
  }

  code {
    font-family: "Courier New", Courier, monospace;
  }

  img {
    width: 100%;
    height: auto;
  }

  hr {
    margin: 2rem 5rem 1rem 5rem;
  }
}

.blog-post--footer-nav {
  display: flex;
  list-style: none;
}

.blog-post--nav-button {
  color: $primary-background-color;
  padding: 0 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.blog-post--nav-button:hover {
  border-color: $primary-background-color;
}
