$background-overlay: rgba(0, 0, 0, 0);
$primary-btn-color: #fbfbff;
$primary-text-color: #fbfbff;
$secondary-text-color: #1995b0;
$primary-background-color: #252934;
$secondary-background-color: #fbfbff;
$primary-font: "Public Sans", Arial, Helvetica, sans-serif;
$primary-border: 2px solid #fbfbff;
$secondary-border: 3px solid #252934;
$primary-button-border: 4px solid #1995b0;
$side-menu-background-color: #252934;
$primary-letter-spacing: 0.1rem;
$primary-header-font-size: 5rem;
$header-font-size: 3rem;
$portfolio-card-height: minmax(475px, 1fr);
$portfolio-card-width: minmax(475px, 1fr);
$toggle-btn-line-color: #fbfbff;
$portfolio-card-overlay: rgba(0, 0, 0, 0.5);
$button-border-radius: 0;
$card-border-radius: 10px;
$form-input-border-radius: 10px;
$form-input-background-color: #1e242c;
$form-input-text-color: #fbfbff;
$overlay-background-color: #252934;
$portfolio-header-title-color: #1e242c;
$main-navigation-box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);

// #252934 dark grey
// #20bf55 green
// #fbfbff white
// #0b4f6c navy blue
// #001d4a darker navy blue
// #757575 grey
// #eca400 orange
// #024e82 pantone blue
// #f1c40f yellow d1

