@import "_root.scss";
@import "_base.scss";
@import "_layout.scss";
@import "_index.scss";
@import "_about.scss";
@import "_portfolio.scss";
@import "_blog.scss";
@import "_contact.scss";

.main-navigation--menu-toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1.7rem;
  width: 1.8rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 400;

  &:focus {
    outline: none;
  }

  .btn-line {
    width: 1.8rem;
    height: 3px;
    border-radius: 2px;
    background: $toggle-btn-line-color;
  }
}

.side-menu {
  background: $side-menu-background-color;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  transform: translateY(-100%);
  transition: transform 0.3s ease-out;
}

.open {
  transform: translateY(0);
}

.side-menu--list {
  height: 100%;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.side-menu--list-items {
  margin: 0.5rem 0;
}

.side-menu--link {
  font-size: 2.2rem;
  color: $primary-text-color;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: $primary-letter-spacing;
  &:hover {
    color: $secondary-text-color;
  }
}

.current-page--side-menu-link {
  color: $secondary-text-color;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 190;
}

.noscroll {
  overflow: hidden;
}

.main-section--grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 15rem;
  width: 100%;
}

.main-section--footer {
  grid-area: footer;
  background-color: $side-menu-background-color;
  color: $secondary-text-color;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.footer-social-media--link {
  padding: 2rem;
  height: 7rem;
}

.footer-copywright-text {
  padding: 1rem;
  letter-spacing: 1px;
}

.social-media-icon {
  height: 100%;
  width: auto;
  border-radius: 11px;
  margin: 0 0.8rem;
}

.social-media-icon:hover {
  background-color: $secondary-text-color;
  border: 2px solid $secondary-text-color;
}

.landing-navigation-display {
  .main-navigation--list {
    display: none;
  }

  .main-navigation--menu-toggle-button {
    display: flex;
  }

  .current-page--link {
    color: $secondary-text-color;
  }
}

.portfolio-card-container {
  padding: 0.5rem;
  //grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-template-columns: 1fr;
  max-width: 1200px;
  justify-self: center;
}

.portfolio-card {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: (5px 5px 10px darkgrey);
}

.portfolio-card--overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $overlay-background-color;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.portfolio-card:hover .portfolio-card--overlay {
  height: 100%;
}

.portfolio-card--overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  width: 100%;
  max-width: 40ch;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio-card--overlay-description {
  padding: 1.2rem 0;
  line-height: 1.8rem;
  width: 100%;
}

.portfolio-card--overlay-text-title {
  font-size: 2rem;
}

.portfolio-card--overlay-button {
  position: absolute;
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid $secondary-text-color;
  padding: 1rem;
  color: $primary-text-color;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2rem;
}

.portfolio-card--overlay-button:hover {
  background-color: $secondary-text-color;
  color: $primary-text-color;
}

.contact {
  display: flex;
  width: 100%;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 3rem 1rem;
  font-size: 1.5rem;
  width: 100%;
  max-width: 900px;
}

.contact-form--label {
  display: none;
}

.contact-form--input {
  width: 100%;
  height: 3rem;
  border: 2px solid $primary-background-color;
  background-color: $form-input-background-color;
  color: $form-input-text-color;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  font-family: $primary-font;
}

.contact-form--message {
  width: 100%;
  font-size: 1.2rem;
  border: 2px solid $primary-background-color;
  background-color: $form-input-background-color;
  color: $form-input-text-color;
  font-family: $primary-font;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.contact-form--submit-button {
  background-color: $form-input-background-color;
  border-radius: 0;
  border: transparent;
  height: 3rem;
  font-size: 1.2rem;
  align-self: flex-end;
  padding: 0;
  vertical-align: center;
  width: 10rem;
}

@media (max-width: 1120px) {
  .main-navigation--list {
    display: none;
  }
}
//  .portfolio-card-container {
//    padding: 2rem;
//    grid-template-columns: 1fr;
//    justify-self: center;
//  }
//
//  .portfolio-card {
//    position: relative;
//    width: 100%;
//    height: 100%;
//    box-shadow: (5px 5px 10px darkgrey);
//  }
//
//  .portfolio-card--overlay {
//    position: absolute;
//    bottom: 0;
//    left: 0;
//    right: 0;
//    background-color: $primary-background-color;
//    overflow: hidden;
//    width: 100%;
//    height: 0;
//    transition: 0.5s ease;
//  }
//
//  .portfolio-card:hover .portfolio-card--overlay {
//    height: 100%;
//  }
//
//  .portfolio-card--overlay-text {
//    color: white;
//    font-size: 20px;
//    position: absolute;
//    top: 25%;
//    left: 50%;
//    -webkit-transform: translate(-50%, -50%);
//    -ms-transform: translate(-50%, -50%);
//    transform: translate(-50%, -50%);
//    text-align: center;
//  }
//
//  .portfolio-card--overlay-button {
//    position: absolute;
//    background-color: transparent;
//    border: 2px solid $secondary-text-color;
//    padding: 1rem;
//    color: $primary-text-color;
//    top: 70%;
//    left: 50%;
//    -webkit-transform: translate(-50%, -50%);
//    -ms-transform: translate(-50%, -50%);
//    transform: translate(-50%, -50%);
//    text-align: center;
//    font-size: 1.2rem;
//  }
//
//  .portfolio-card--overlay-button:hover {
//    background-color: $secondary-text-color;
//    color: $primary-text-color;
//  }
//}
//
@media (min-width: 1121px) {
  .main-navigation--menu-toggle-button {
    display: none;
  }

  .main-navigation--logo {
    font-size: 2rem;
  }
}
