$background-overlay: rgba(0, 0, 0, 0.5);
$primary-btn-color: white;
$primary-text-color: white;
$secondary-text-color: #02a3d9;
$primary-background-color: black;
$primary-font: "Public Sans", Arial, Helvetica, sans-serif;
$primary-border: 4px solid white;
$side-menu-background-color: #37383d;
$primary-letter-spacing: 0.1rem;
$primary-header-font-size: 4rem;
$portfolio-card-height: minmax(475px, 1fr);
$portfolio-card-width: minmax(475px, 1fr);
$toggle-btn-line-color: white;
$portfolio-card-overlay: rgba(0, 0, 0, 0.5);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  width: 100%;
  height: 100%;
}

.background-image {
  width: 100%;
  height: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.background-image--small {
  height: 15rem;
}

.background-image--big {
  height: 100vh;
}

.header-container {
  width: 100%;
  background-color: $background-overlay;
  z-index: 20;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr;
  justify-items: center;
  align-items: center;
}

.main-navigation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 2rem 1rem;
  z-index: 300;
}

.main-navigation--logo {
  font-size: 2rem;
  color: $primary-text-color;
  padding: 0 1.5rem;
  align-self: flex-end;
}

.main-navigation--list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  justify-content: center;
}

.main-navigation--list-item {
  list-style: none;
  font-size: 1.4rem;
  padding: 0.3rem 0;
  margin: 0 1rem;
  &:hover {
    border-bottom: $primary-border;
  }
}

.current-page--link {
  border-bottom: $primary-border;
}

.primary-button {
  color: $primary-text-color;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: $primary-letter-spacing;
}

.landing-page {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.landing-page--center-section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "primary-header"
    "header"
    "portfolio";
  justify-items: center;
  align-items: center;
  grid-row-gap: 0.5rem;
  z-index: 20;
}

.primary-header {
  grid-area: primary-header;
  color: white;
  font-size: $primary-header-font-size;
  letter-spacing: 0.1rem;
  justify-self: center;
  text-align: center;
}

.header {
  grid-area: header;
  color: white;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  justify-self: center;
  text-align: center;
}

.landing-page--portfolio-button {
  grid-area: portfolio;
  background-color: transparent;
  border-radius: 20px;
  border: $primary-border;
  padding: 1rem;
  width: 10rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
  &:hover,
  &:active {
    background-color: $secondary-text-color;
    border-color: $secondary-text-color;
  }
}

.secondary-text-color {
  color: $secondary-text-color;
}

.secondary-header {
  color: $primary-text-color;
  font-size: $primary-header-font-size;
  letter-spacing: $primary-letter-spacing;
}

.portfolio-container {
  display: grid;
  grid-template-rows: auto;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  padding: 1rem;
}

.portfolio-image {
  width: 100%;
  height: auto;
}

.main-navigation--menu-toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1.7rem;
  width: 1.8rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 400;

  &:focus {
    outline: none;
  }

  .btn-line {
    width: 1.8rem;
    height: 3px;
    border-radius: 2px;
    background: $toggle-btn-line-color;
  }
}

.side-menu {
  height: 60%;
  background: $side-menu-background-color;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  transform: translateX(+100%);
  transition: transform 0.3s ease-out;
}

.open {
  transform: translateX(0);
}

.side-menu--list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.side-menu--list-items {
  margin: 0.5rem 0;
}

.side-menu--link {
  font-size: 2.2rem;
  color: $primary-text-color;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: $primary-letter-spacing;
  &:hover {
    color: $secondary-text-color;
  }
}

.current-page--side-menu-link {
  color: $secondary-text-color;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 190;
}

.noscroll {
  overflow: hidden;
}

.main-section--grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 15rem;
  width: 100%;
}

.main-section--footer {
  background-color: $side-menu-background-color;
  color: $secondary-text-color;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.footer-social-media--link {
  padding: 2rem;
}

.footer-copywright-text {
  padding: 1rem;
}

@media (max-width: 650px) {
  .main-navigation--list {
    display: none;
  }
  .portfolio-container {
    grid-template-columns: 1fr;
  }

  .portfolio-card {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: (5px 5px 10px black);
  }

  .portfolio-card--overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008cbad1;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
  }

  .portfolio-card:hover .portfolio-card--overlay {
    height: 100%;
  }

  .portfolio-card--overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .portfolio-card--overlay-button {
    position: absolute;
    background-color: transparent;
    border-radius: 20px;
    border: $primary-border;
    padding: 1rem;
    color: $primary-text-color;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.2rem;
  }

  .portfolio-card--overlay-button:hover {
    background-color: white;
    color: $secondary-text-color;
  }
}

@media (min-width: 651px) {
  .main-navigation--menu-toggle-button {
    display: none;
  }

  .portfolio-container {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    padding: 5rem;
  }

  .portfolio-card {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: (5px 5px 10px black);
  }

  .portfolio-card--overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008cbad1;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
  }

  .portfolio-card:hover .portfolio-card--overlay {
    height: 100%;
  }

  .portfolio-card--overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .portfolio-card--overlay-description {
    padding: 2rem;
    line-height: 1.8rem;
  }

  .portfolio-card--overlay-text-title {
    font-size: 2rem;
  }

  .portfolio-card--overlay-button {
    position: absolute;
    text-decoration: none;
    background-color: transparent;
    border-radius: 20px;
    border: $primary-border;
    padding: 1rem;
    color: $primary-text-color;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.2rem;
  }

  .portfolio-card--overlay-button:hover {
    background-color: white;
    color: $secondary-text-color;
  }
}
